<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//connect.facebook.net/en_US/sdk.js"></script>
<script>
  console.log('Facebook API has loaded');
  // Facebook SDK
  window.fbAsyncInit = function() {
    FB.init({
      appId: '1660831194160373',
      cookie: true,
      xfbml: true,
      version: 'v2.5'
    });

    $(document).ready(function() {
      FB.getLoginStatus(function(response) {
        console.log(response.status);
        if (response.status === 'connected') {
          /**
           * The user has authenticated with
           * both Facebook and TCP.
           */

          // Get their token; This prevents just anyone from
          // sending a random POST request telling us a user
          // has logged in through Facebook when they haven't
          // by looking for the same token in the database
          var uid = response.authResponse.userID,
          accessToken = response.authResponse.token,
          tokenExpirationStamp = response.authResponse.signedRequest.expires,
          rightHereRightNow = new Date().getTime();

          if (tokenExpirationStamp <=  rightHereRightNow) {
            // The token has expired and the user
            // must reauthenticate with Facebook
            accessToken = 'Expired at ' + tokenExpirationStamp;
            FB.login();
          }

          // Tell PHP that the user has signed in
          // with Facebook rather than natively
          $.ajax('/facebookerLoggedIn', {
            'method': 'POST',
            'data': {
              'uid': uid, // Don't think this changes, but just in case
              'token': accessToken,

              // Logically 'true' because we're in
              // 'response.status === 'connected''
              'in': true
            },
            'success': function (response) {
              console.log('RESPONSE:');
              console.log(response);
            }
          });

          // The user is logged in; Let them log out
          $("#logoutLink").click(function() {
            FB.logout();
          });
        } else {
          /**
           * The user either hasn't authorised TCP or
           * they're logged out of Facebook. We'll
           * present the pop-up to allow them to
           * either give us permission to authenticate
           * them or authenticate with Facebook (and
           * TCP, of course), then they will have
           * given us access to their information.
           */
          $('#facebook-signup').click(function () {
            FB.login(function (response) {
              if (response.status === 'connected') {
                // The user has signed up through Facebook
                var uid = response.authResponse.userID,
                accessToken = response.authResponse.accessToken,
                desiredData = 'id,first_name,last_name,gender,email';

                FB.api('/' + uid + '?fields=' + desiredData, function(response) {
                  // We have successfully signed the user
                  // in, so we can fetch their data
                  var gender;
                  switch (response.gender) {
                  case "male":
                    gender = 1;
                    break;
                  case "female":
                    gender = 2;
                    break;
                  default:
                    gender = 0;
                    break;
                  }

                  /**
                   * At this point the data Facebook gave
                   * us is written to the database, and
                   * we also make sure we say that the
                   * user signed up with Facebook. We say
                   * so in the PHP this AJAX calls (i.e.
                   * Home/registerFacebooker in Home.php)
                   */
                  $.ajax('create_facebooking_traveler', {
                    'method': 'POST',
                    'data': {
                      'first_name': response.first_name,
                      'last_name': response.last_name,
                      'email': response.email,
                      'gender': gender                    },
                    'success': function (resposne) {
                      console.log('success');
                      console.log(resposne);
                    }
                  });
                });
              }
            }, {scope: 'public_profile,email'});
          });
        }
      });
    });
  };
</script>
